body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */
.color {
    position: relative;
    width: 180px;
    height: 110px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, .2);
  }
  
  .yellow {
    background: #FAB04D;
    text-align: center;
  }
 
  .grey {
    background: #A1A1A1;
    text-align: center;
  }

  .red {
    background: #DA7063;
    text-align: center;

  }
  .socialNetwork {
    position: relative;
    float: left;
    width:  70px;
    height: 70px;
      }
      body {
        font-family: 'Montserrat', 'Segoe UI',Roboto';
       
    }
    .button {
      background-color: #000000;
      border: none;
      color: #DA7063;
      padding: 15px 25px;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
      border: 3px solid #DA7063;
  }
  
  .button:hover {
      background-color: #DA7063;
      color: #000000;
      border: 3px solid #000000;
      
  }
  .button:active {
    background-color: #DA7063;
    color: #000000;
    border: 3px solid #000000;
    
}
  .button2 {
    background-color: #000000;
    border: none;
    color: #FAB04D;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: 3px solid #FAB04D;
}

.button2:hover {
    background-color: #FAB04D;
    color: #000000;
    border: 3px solid #000000;
}
.button2:active {
  background-color: #FAB04D;
  color: #000000;
  border: 3px solid #000000;
}
input[type=text] {
  width: 130px;
  color: #DA7063;
  box-sizing: border-box;
  border: 2px solid #DA7063;
  border-radius: 4px;
  font-size: 16px;
  background-color: black;
  background-image: url('images/zoek.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
input[type=text]:hover {
  background-color: #000000;
  color: #DA7063

 }
 input[type=text]:active {
  background-color: #000000;
  color: #DA7063

  }
input[type=text]:focus {
  width: 100%;
  color: white;
}
::placeholder {
  color: #DA7063;
  opacity: 1; 
}
.search-wrapper {
  position: relative;
}

.search-wrapper img {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 12px;
  left: 8px;
  
}
.dropbtn {
  background-color: #000000;
  color: #DA7063;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #DA7063,;
  opacity: 0.6;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #FAB04D}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #FAB04D;
}
.step {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: black;
  border: 4px; 
  border-color: white;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.2;
  
}
.step.active {
  opacity: 1;
}
i {
  border: solid #DA7063;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
